/* ------прихований заголовок / checkbox--------------------  */

/*---------Header----------------------------- */

/* -------------Hero ----------------------------------------*/

/* ------------Features------------------------------------- */

/* ----------Gallery-------------------------------- */

.gallery-list__item {
  margin-right: var(--card-set-gap);
  flex-basis: calc((100%-90px) / 3);
  position: relative;
  /* overflow: hidden; */
}
/* ---------------Team------------------------------------ */

/* ---------------Clients-------------------------------- */

/* ---------Portfolio-----Button------------------------------ */

/* ---------------Portfolio--------------------------------- */
.portfolio-card {
  flex-basis: calc(100%- ((var(--card-set-gap)) * 3) / 3);

  margin-top: var(--card-set-gap);
  margin-right: var(--card-set-gap);
  background: var(--main-white-color);

  transition: box-shadow var(--time-delay) var(--cubic);
}

/* .portfolio-img:nth-child(3n) {
  margin-right: 0;
}
.portfolio-img:nth-last-child(-n + 3) {
  margin-right: 0;
} */

/* -------------Footer----------------------------------------- */

/* -------------Join---------------------------------- */

/* ------------Sign-news----------------------------------- */

/* ---------------Modal------------------------------------------- */

/* ---інші варіанти оформлення галочки погодження з умовами договору */

/* .check-conditions::before {
content: "";
width: 16px;
height: 15px;
border: 2px solid red;
border: radius 3px;
margin-right: 7px;
  } */

/* .input-check:checked + .check-conditions::before {
background-color: var(--accent-color);
background-image: url(../images/icons.svg#icon-icon-check) ;
background-repeat: no-repeat;
background-position:center ;
  } */
